.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}

.blok {
    height: 300px;
    width: 300px;
    background-color: green;
    margin-top: 400px;
    margin-left: 600px;
    position: absolute;
}

.blok1 {
    height: 150px;
    width: 150px;
    background-color: darkmagenta;
    margin-top: 350px;
    margin-left: 180px;
    position: absolute;
}

.blok2 {
    height: 150px;
    width: 150px;
    background-color: brown;
    margin-top: 200px;
    margin-left: 30px;
    position: absolute;
}

.blok3 {
    height: 150px;
    width: 150px;
    background-color: deeppink;
    margin-top: 500px;
    margin-left: 330px;
    position: absolute;
}